<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<%@books.each do  |book|%>
<%=book.title%>
<%book.author%>
<%end%>


<%= "Some information added from sublime text"%>

<%=Add some more information here%>

